name: pip publish

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - name: Update package
        run: |
          python -m pip install --upgrade pip
          python -m pip install pdm tomlkit

      - uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{  github.ref_name }}

      - name: Install pdm and publish
        run: |
          python tools/pip_pack.py ${{  github.ref_name }}
          pdm publish --password ${{ secrets.PYPI_TOKEN }}
